.home-hero {
	background-size: 100% !important;
    background-repeat: no-repeat !important;
    height: 100vh !important;
    background-position: bottom !important;
}
.home-title { 
	text-align: left; 
	margin-top: 40px;
}

.sub-header {
	margin-top: 0 !important;
	line-height: 1.5 !important;
	margin-bottom: 20px !important;
}

.btn-hero {
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 30px 2px
}

.btn-hero:hover {
	color: white;
	box-shadow: rgba(0,0,0,0.3) 0px 6px 20px 4px;
	transition: box-shadow 0.2s;
}